body{
	background-color: #f2f2f2;
	font-family: 'verdana';
	font-size: 12px;
}

p{
	margin-top: 0;
}

#tweets{
	position: relative;	
}

#svgContainer{
	position: absolute;
}

/* circle */
/*
.tweet-date:before{
	content: "";
	position: absolute;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background-color: red;
	margin-left: -45px;
	margin-top: -10px;
}*/

.tweet-date{	
	color: #363636;
	position: absolute;
	margin-left: 114px;
	margin-top: -56px;
	padding: 10px 10px 10px 45px;	
}

.tweet-author{
	font-weight: bold;
}

.tweet-container{
	position: absolute;
	width: 260px;
	height: 120px;
}

.tweet-container.container-0 .tweet-date:before{
	background-color: #00bfd6;	
}

.tweet-container.container-1 .tweet-date:before{
	background-color: #0074c8;	
}

.tweet-container.container-2 .tweet-date:before{
	background-color: #b4be34;	
}

.tweet-container.container-3 .tweet-date:before{
	background-color: #ef3741;	
}

.twitter-tweet{
	margin: 0;	
	/*margin-bottom: 60px;
	margin-top: 60px;*/
	padding: 15px;		
	background-color: white;
	color: #808083;
	border: solid #dbdbdb 1px;
}


  /* Required for Down Triangle */
.twitter-tweet:before, .twitter-tweet:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
  }

  /* Stroke */
  .twitter-tweet:before {
    top: -9px;
    left: 120px;
    
    border-bottom-color: #dbdbdb;
    border-width: 10px;
  }

  /* Fill */
  .twitter-tweet:after {
    top: -8px;
    left: 121px;
    border-bottom-color: white;
    border-width: 9px;
  }

/* triangle */
/*.twitter-tweet:before{
	content: "";
	position: absolute;
	margin-left: 144px;
	margin-top: -21px;
	width: 10px;
	height: 10px;
	background: #FFFFFF;
	border-right: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
	transform: rotate(-45deg)
	 -moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}*/